/*!
 =========================================================
 * Paper Kit React - v1.0.0 based on Paper Kit - v2.2.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/paper-kit-2
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)

 * Designed by www.invisionapp.com Coded by www.creative-tim.com

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/

@use "paper-kit/variables" as *;
@use "paper-kit/mixins" as *;

// Plugins CSS
@use "paper-kit/plugins/plugin-bootstrap-switch";
@use "paper-kit/plugins/plugin-nouislider";
@use "paper-kit/plugins/plugin-datepicker";

// Core CSS
@use "paper-kit/buttons";
@use "paper-kit/inputs";
@use "paper-kit/checkbox-radio";
@use "paper-kit/progress-bars";
@use "paper-kit/badges";
@use "paper-kit/pagination";
@use "paper-kit/typography";
@use "paper-kit/misc";
@use "paper-kit/labels";

// components
@use "paper-kit/nucleo-icons";
@use "paper-kit/social-buttons";
@use "paper-kit/tabs-navs";
@use "paper-kit/navbars";
@use "paper-kit/dropdown";
@use "paper-kit/alerts";
@use "paper-kit/images";
@use "paper-kit/tooltips-and-popovers";
@use "paper-kit/modal";
@use "paper-kit/icons";
@use "paper-kit/carousel";
@use "paper-kit/footers";

// Cards
@use "paper-kit/cards";
@use "paper-kit/cards/card-plain";
@use "paper-kit/cards/card-register";
@use "paper-kit/cards/card-profile";

// example pages and sections
@use "paper-kit/examples";
@use "paper-kit/sections";

@use "paper-kit/responsive";

// React Differences
@use "react/react-differences";
