# ---- Database Settings ----
SQLAZURECONNSTR_DB_HOST = localhost
SQLAZURECONNSTR_DB_USER = root
SQLAZURECONNSTR_DB_PW = admin
SQLAZURECONNSTR_DB_NAME = energy360
APPSETTING_CLIENT_ID = test
APPSETTING_CLIENT_SECRET =
APPSETTING_GREENCONNECT_ID = 123
APPSETTING_SESSION_SECRET =
APPSETTING_JWT_SECRET =
APPSETTING_JWT_EXPIRED =
APPSETTING_RESET_PASSWORD =
APPSETTING_SALT_ROUNDS =
APPSETTING_SUBSCRIPTION_KEY =
