# ---- Application Settings  ----
APP_NAME = Energy360-Web-Portal
SERVER_PORT = 3000
API_URL = http://localhost:3000/api
APPSETTING_GREENCONNECT_ID = 123
APPSETTING_CLIENT_ID = test

# ---- Database Settings ----
DB_HOST = localhost
DB_USER = root
DB_PASS = admin
DB_NAME = energy360
