SQLAZURECONNSTR_DB_HOST = localhost
SQLAZURECONNSTR_DB_USER = root
SQLAZURECONNSTR_DB_PW = admin
SQLAZURECONNSTR_DB_NAME = energy360
APPSETTING_SESSION_SECRET = topsecret
APPSETTING_JWT_SECRET = test


# ---- Application Settings  ----
APP_NAME = Energy360-Web-Portal
SERVER_PORT = 3000
API_URL = http://localhost:3000/api

