@use "variables";

/*           badges & Progress-bar              */
.badge{
    padding: 0.4em 0.9em;
    color: variables.$white-color;
    font-weight: 500;
    font-size: 0.75em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 3px;
    padding-top: 5px;

  &:focus {
    outline: none;
  }
  span[data-role="remove"]:focus {
    outline: none;
  }
}
.badge-primary{
    background-color: variables.$primary-color;
}
.badge-info{
    background-color: variables.$info-color;
}
.badge-success{
    background-color: variables.$success-color;
}
.badge-warning{
    background-color: variables.$warning-color;
}
.badge-danger{
    background-color: variables.$danger-color;
}
.badge-default{
    background-color: variables.$default-color;
}
