.landing-alert {
  margin-bottom: 0;
}
.page-header {
  //   background-color: #b2afab;
  background-color: white;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .filter::after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  &.page-header-small {
    min-height: 65vh !important;
    max-height: 700px;
  }
  &.page-header-xs {
    min-height: 40vh !important;
  }

  &.section-dark {
    .content-center,
    .category-absolute {
      z-index: 1;
    }
  }
}
.page-header .motto {
  text-align: left;
  z-index: 3;
  color: #fff;
  position: relative;
}
.landing-section {
  padding: 100px 0;
  z-index: 1;
}
.section-buttons {
  z-index: 1;
}
.landing-section .btn-simple {
  padding: 0;
}
.landing-section .column {
  padding: 0 75px 0 25px;
}
.team-player .img-circle,
.team-player .img-thumbnail {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}
.contact-form {
  margin-top: 30px;
}
.contact-form label {
  margin-top: 15px;
}
.contact-form .btn {
  margin-top: 30px;
}

.navbar-relative {
  position: relative;
  z-index: 2;
}
#register-navbar a {
  color: #fff;
}
.register-background .container {
  margin-top: 11%;
  position: relative;
  z-index: 3;
}
.register-footer {
  bottom: 20px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: transparent;
  color: $white-color;
}
.register-footer .fa-heart {
  color: #eb5e28;
}

.register-card label {
  margin-top: 15px;
}
.register-card .title {
  color: #b33c12;
  text-align: center;
}
.register-card .btn {
  margin-top: 30px;
}
.register-card .forgot {
  text-align: center;
}

.profile-content {
  position: relative;
}
.owner {
  text-align: center;
}
.owner .avatar {
  padding: 15px;
  max-width: 180px;
  margin: -85px auto 0;
  display: inline-block;
}
.owner .name h4 {
  margin-top: 10px;
}
.profile-tabs {
  margin: 50px 0;
  min-height: 300px;
}
#following h3 {
  margin: 20px 0 40px 0;
}

#follows .follows .unfollow .checkbox {
  margin-top: -15px;
}
#follows .follows h6 {
  margin-top: 15px;
}
.follows hr {
  margin-top: 10px;
}
.alert h5 {
  // margin-bottom: 10px;
}
.title-brand {
  max-width: 730px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #ffffff;
  display: block;

  .type {
    position: absolute;
    font-size: 20px;
    background: #132026;
    padding: 6px 10px;
    border-radius: 4px;
    top: 0;
    font-weight: 600;
    margin-top: 10px;
    right: -15px;
  }
}

.presentation-title {
  font-size: 8em;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
  background: #fbf8ec;
  background: -moz-linear-gradient(top, #ffffff 35%, #4e6773 100%);
  background: -webkit-linear-gradient(top, #ffffff 35%, #4e6773 100%);
  background: -ms-linear-gradient(top, #ffffff 35%, #4e6773 100%);
  background: linear-gradient(to bottom, #ffffff 35%, #4e6773 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.presentation-subtitle {
  font-size: 1.7em;
  color: #ffffff;
}

.category-absolute {
  position: absolute;
  text-align: center;
  top: 100vh;
  margin-top: -60px;
  padding: 0 15px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);

  .creative-tim-logo {
    max-width: 140px;
    top: -2px;
    left: 3px;
    position: relative;
  }
}

.fog-low {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: -35%;
  margin-bottom: -50px;
  width: 110%;
  opacity: 0.85;

  img {
    width: 100%;
  }

  &.right {
    margin-left: 30%;
    opacity: 1;
  }
}
.page-header {
  .content-center {
    margin-top: 85px;
  }
}
.moving-clouds {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 250.625em;
  height: 43.75em;
  -webkit-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite;
}

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
.following {
  img {
    max-width: 70px;
  }
}

.profile-content {
  & .tab-content {
    & .tab-pane {
      min-height: 200px;
    }
    & #tweets,
    #connections,
    #media {
      height: 100%;
    }
  }
}

.home-layout {
  .content-center {
    z-index: 3333 !important;
    margin-top: 0;

    .title-brand {
      max-width: 630px;

      .presentation-title {
        font-size: 4em !important;
        font-weight: 700 !important;
        margin: 0;
      }
      .home-control-pan {
        margin-top: 7em;
        .btn {
          border-radius: 10px;
          border-width: 3px;
          font-size: 17px;
          font-weight: 600;
          padding: 0.5rem 18px;
          line-height: 1.8;
          background-image: none;
          background-color: transparent;
          border-color: #fff;
          color: #fff;
          opacity: 1;
          &:first-child {
            @media (min-width: 950px) {
              margin-right: 20px !important;
            }
          }
        }
      }
    }
  }
}

.card-signup {
  background-color: unset;
  border-radius: 6px;
  color: #495057;
  max-width: 350px;
  margin: 20px 0 70px;
  min-height: 500px;
  padding: 30px;
  border: 2px solid rgba(0, 0, 0, 0.125) !important;

  .register-form {
    .form-control {
      border: 1px solid #00000038 !important;
    }
    input:focus {
      color: #495057;
      background-color: #fff;
      border-color: #1991eb;
      outline: 0;
      box-shadow: 0 0 0 3px rgba(70, 127, 207, 0.25);
    }
    label {
      margin-top: 1rem;
      margin-bottom: 0.275rem;
      font-weight: 600;
      font-size: 0.805rem;
    }
  }
  .login-form {
    .form-group {
      margin-bottom: 0;
    }
  }
}

.register {
  max-width: 500px;
}

.middle-container {
  display: flex;
  height: 95vh !important;
}

.page-content {
  padding-bottom: 2em;
  .content-header {
    height: 27em;
    position: relative;
    // background-image: url(https://energy360.us/wp-content/uploads/2016/11/entry-header-bg-image.jpg);
    h1 {
      position: absolute;
      bottom: 1em;
      left: 2em;
      font-weight: 700;
      color: white;
    }
    span {
      &::after {
        border: solid 2px #005ca3;
        border-width: 0 5px 5px 0;
        content: "";
        display: block;
        height: 40px;
        width: 42px;
        position: absolute;
        right: -20px;
        bottom: -14px;
      }
      &::before {
        border: solid 2px #005ca3;
        border-width: 5px 0 0 5px;
        content: "";
        display: block;
        height: 40px;
        width: 42px;
        position: absolute;
        left: -20px;
        top: -14px;
      }
    }
  }
}

.navbar.navbar-expand-lg {
  padding-left: 5em;
  padding-right: 5em;
  background-color: darkcyan;
  .nav-link {
    color: white !important;
  }

  @media screen and (max-width: 800px) {
    padding-left: unset;
    padding-right: unset;
  }

  .navbar-brand {
    margin: 0px;
    padding: 0px;

    .logo {
      height: 6em;
      padding-top: 5px;
      margin-left: 20px;
      padding: 10px;
    }
  }
}

@media screen and (max-width: 800px) {
  .navbar.navbar-expand-lg {
    padding-left: unset;
    padding-right: unset;
    padding: 15px;
    // background-color: unset;

    @media screen and (max-width: 800px) {
      padding-left: unset;
      padding-right: unset;
    }

    .navbar-brand {
      margin: 0px;
      padding: 0px;

      .logo {
        height: 5em;
        padding-top: 5px;
        margin-left: 20px;
        padding: 10px;
      }
    }
  }
  .page-content {
    .content-header {
      h1 {
        font-size: 27px;
      }
    }
  }
}

.card-signup {
  label {
    display: inline-block;
    margin-bottom: 0.15rem;
    margin-top: 1rem;
    font-weight: 500;
  }

  .utility-block {
    .form-group {
      margin-top: 1rem;
      margin-bottom: 0.15rem;
      label {
        display: block;
        margin-top: 0em;
      }
    }
  }
  .button-group {
    margin-top: 40px;
  }
  .form-group {
    margin-bottom: 0;
  }
}

.reset-password {
  max-width: 400px;
  min-height: unset;
  h2 {
    margin-top: 0;
    padding: 0 10px;
    font-size: 30px;
    font-weight: 500;
  }
}

.register {
  h2 {
    text-align: center;
  }
}

.content-center {
  color: black;
  h2 {
    font-size: 2.8em;
  }
}

.scrope-select {
  max-width: 550px;
  color: black;
  h3 {
    text-align: center;
    font-weight: 700;
  }
  form {
    margin-top: 2em;
    label {
      font-size: 20px;
      font-weight: 300;
    }
    input {
      font-size: larger;
    }
    .button-group {
      margin-top: 2em;
    }
  }
}

.alert {
  margin-bottom: 15px;
  font-size: 15px;
  padding: 10px;
}

.nav-link {
  font-size: 20px;
  &:hover {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px #49ff18, -39px -7px 5px rgba(201, 206, 175, 0.06);
  }
}