@use "mixins/inputs";
@use "mixins/vendor-prefixes";
@use "variables";

@include inputs.placeholder() {
  color: variables.$dark-gray;
};

.form-control:focus + .input-group-text{
    border: 1px solid black;
}
.form-control {
    background-color: variables.$white-bg;
    border: 1px solid variables.$medium-gray;
    border-radius: variables.$border-radius-base;
    color: variables.$font-color;
    font-size: variables.$font-size-base;
    transition: background-color 0.3s ease 0s;
    padding-right: 0 !important;
    @include inputs.input-size(variables.$padding-base-vertical, variables.$padding-label-horizontal, variables.$height-base);
    @include vendor-prefixes.box-shadow(none);

    &:focus{
       background-color: variables.$white-bg;
       border: 1px solid variables.$table-line-color;
       @include vendor-prefixes.box-shadow(none);
       outline: 0 !important;

       + .input-group-prepend,
       + .input-group-append {
            .input-group-text {
              border: 1px solid variables.$table-line-color;
              border-left: none;
            }
       }
    }

    &.no-border{
        border: medium none !important;

        &:focus {
          + .input-group-prepend,
          + .input-group-append {
               .input-group-text {
                 border: none;
               }
          }
        }
    }

    .has-success &,
    .has-error &,
    .has-success &:focus,
    .has-error &:focus{
        @include vendor-prefixes.box-shadow(none);
    }

    .has-success &{
        border: 1px solid variables.$table-line-color;
        color: variables.$font-color;

        &.form-control-success{
            padding-right: 2.5em !important;
        }
    }
    .has-success &:focus{
        border: 1px solid variables.$success-color;
        color: variables.$success-color;
    }
    .has-danger &{
        background-color: variables.$danger-input-bg;
        border: 1px solid variables.$danger-color;
        color: variables.$danger-color;

        &.form-control-danger{
            padding-right: 2.5em !important;
        }
    }
    .has-danger &:focus{
        background-color: variables.$white-color;
        border: 1px solid variables.$danger-color;
    }

    & + .form-control-feedback{
        border-radius: variables.$border-radius-large;
        font-size: variables.$font-size-base;
        color: variables.$danger-color;
        font-size: .8rem;
        position: absolute;
        top: 100%;
        padding-left: variables.$padding-label-horizontal;
        vertical-align: middle;
    }

    .open &{
        border-radius: variables.$border-radius-base variables.$border-radius-base 0 0;
        border-bottom-color: transparent;
    }

    &.form-control-lg {
      height: 55px;
      padding: variables.$padding-large-vertical 13px;
      font-size: 1.25rem;
      line-height: 1.5;
    }

    &.form-control-sm {
      padding: .25rem .5rem;
      font-size: .875rem;
      line-height: 1.5;
      height: 31px;
    }
}

.has-error{
    .form-control-feedback, .control-label{
        color: variables.$danger-color;
    }
}
.has-success{
    .form-control-feedback, .control-label{
        color: variables.$success-color;
    }
}

.input-group-prepend + .form-control {
  margin-left: -1px;
  border-left: none;
}
.form-control + .input-group-append .input-group-text {
  border-right: 1px solid #ddd;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
  border-right: none;
}

.input-group-text {
    background-color: variables.$white-bg;
    border-radius: variables.$border-radius-base;
    border: 1px solid #ddd;
    border-right: none;

    .has-success &,
    .has-error &{
        background-color: variables.$white-color;
    }
    .has-error .form-control:focus + &{
        color: variables.$danger-color;
    }
    .has-success .form-control:focus + &{
        color: variables.$success-color;
    }
    .form-control:focus + &,
    .form-control:focus ~ &{
        background-color: variables.$white-color;
    }
}

.input-group {
  &.no-border{
    .input-group-text {
      border: 0;
    }
  }
}


textarea.form-control{
    padding: 10px 18px;
    height: auto;
}
.form-group{
    position: relative;
}

.register-form {
  .form-control {
    border: 1px solid transparent !important;
  }
  .input-group .form-control {
    margin-left: -1px;
  }

  .input-group-prepend,
  .input-group-append {
    border: 1px solid transparent !important;
  }
}

#inputs {

    .input-group{
        margin-bottom: 1rem;
    }
}

.card-form-horizontal{
    .card-body{
        .form-group{
            margin-bottom: 0;
        }
    }
}
