@use "mixins/transparency";
@use "variables";


.pagination > li > a,
.pagination > li > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span{
    background-color: transparent;
    border: 2px solid variables.$danger-color;
    border-radius: 20px;
    color: variables.$danger-color;
    height: variables.$line-height;
    margin: 0 2px;
    min-width: 36px;
    padding: 8px 12px;
    font-weight: variables.$font-weight-bold;
}
.nav-pills-default > li > a,
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active,
.pagination > li.active > a,
.pagination > li.active > span,
.pagination > li.active > a:hover,
.pagination > li.active > span:hover,
.pagination > li.active > a:focus,
.pagination > li.active > span:focus {
    background-color: variables.$default-color;
    border-color: variables.$default-color;
    color: variables.$white-color;
}

.nav-pills-primary > li > a,
.pagination-primary > li > a,
.pagination-primary > li > span,
.pagination-primary > li:first-child > a,
.pagination-primary > li:first-child > span,
.pagination-primary > li:last-child > a,
.pagination-primary > li:last-child > span{
    border: 2px solid variables.$primary-color;
    color: variables.$primary-color;
}

.nav-pills-primary > li.active > a,
.nav-pills-primary > li.active > a:hover,
.nav-pills-primary > li.active > a:focus,
.pagination-primary > li > a:hover,
.pagination-primary > li > a:focus,
.pagination-primary > li > a:active,
.pagination-primary > li.active > a,
.pagination-primary > li.active > span,
.pagination-primary > li.active > a:hover,
.pagination-primary > li.active > span:hover,
.pagination-primary > li.active > a:focus,
.pagination-primary > li.active > span:focus{
   background-color: variables.$primary-color !important;
   border-color: variables.$primary-color !important;
   color: variables.$white-color;
}

.nav-pills-info > li > a,
.pagination-info > li > a,
.pagination-info > li > span,
.pagination-info > li:first-child > a,
.pagination-info > li:first-child > span,
.pagination-info > li:last-child > a,
.pagination-info > li:last-child > span{
    border: 2px solid variables.$info-color;
    color: variables.$info-color;
}

.nav-pills-info > li.active > a,
.nav-pills-info > li.active > a:hover,
.nav-pills-info > li.active > a:focus,
.pagination-info > li > a:hover,
.pagination-info > li > a:focus,
.pagination-info > li > a:active,
.pagination-info > li.active > a,
.pagination-info > li.active > span,
.pagination-info > li.active > a:hover,
.pagination-info > li.active > span:hover,
.pagination-info > li.active > a:focus,
.pagination-info > li.active > span:focus{
   background-color: variables.$info-color !important;
   border-color: variables.$info-color !important;
   color: variables.$white-color;
}

.nav-pills-success > li > a,
.pagination-success > li > a,
.pagination-success > li > span,
.pagination-success > li:first-child > a,
.pagination-success > li:first-child > span,
.pagination-success > li:last-child > a,
.pagination-success > li:last-child > span{
    border: 2px solid variables.$success-color;
    color: variables.$success-color;
}

.nav-pills-success > li.active > a,
.nav-pills-success > li.active > a:hover,
.nav-pills-success > li.active > a:focus,
.pagination-success > li > a:hover,
.pagination-success > li > a:focus,
.pagination-success > li > a:active,
.pagination-success > li.active > a,
.pagination-success > li.active > span,
.pagination-success > li.active > a:hover,
.pagination-success > li.active > span:hover,
.pagination-success > li.active > a:focus,
.pagination-success > li.active > span:focus{
   background-color: variables.$success-color !important;
   border-color: variables.$success-color !important;
   color: variables.$white-color;
}

.nav-pills-warning > li > a,
.pagination-warning > li > a,
.pagination-warning > li > span,
.pagination-warning > li:first-child > a,
.pagination-warning > li:first-child > span,
.pagination-warning > li:last-child > a,
.pagination-warning > li:last-child > span{
    border: 2px solid variables.$warning-color;
    color: variables.$warning-color;
}

.nav-pills-warning > li.active > a,
.nav-pills-warning > li.active > a:hover,
.nav-pills-warning > li.active > a:focus,
.pagination-warning > li > a:hover,
.pagination-warning > li > a:focus,
.pagination-warning > li > a:active,
.pagination-warning > li.active > a,
.pagination-warning > li.active > span,
.pagination-warning > li.active > a:hover,
.pagination-warning > li.active > span:hover,
.pagination-warning > li.active > a:focus,
.pagination-warning > li.active > span:focus{
   background-color: variables.$warning-color !important;
   border-color: variables.$warning-color !important;
   color: variables.$white-color;
}

.nav-pills-danger > li > a,
.pagination-danger > li > a,
.pagination-danger > li > span,
.pagination-danger > li:first-child > a,
.pagination-danger > li:first-child > span,
.pagination-danger > li:last-child > a,
.pagination-danger > li:last-child > span{
    border: 2px solid variables.$danger-color;
    color: variables.$danger-color;
}

.nav-pills-danger > li.active > a,
.nav-pills-danger > li.active > a:hover,
.nav-pills-danger > li.active > a:focus,
.pagination-danger > li > a:hover,
.pagination-danger > li > a:focus,
.pagination-danger > li > a:active,
.pagination-danger > li.active > a,
.pagination-danger > li.active > span,
.pagination-danger > li.active > a:hover,
.pagination-danger > li.active > span:hover,
.pagination-danger > li.active > a:focus,
.pagination-danger > li.active > span:focus{
   background-color: variables.$danger-color !important;
   border-color: variables.$danger-color !important;
   color: variables.$white-color;
}

.nav-text, .nav-icons{
    margin: variables.$margin-bottom;

    > li > a{
        display: block;
        padding: 0px variables.$padding-base-horizontal;
        color: variables.$dark-gray;
        text-align: center;
        @include transparency.opacity(0.8);

        &:hover,
        &:focus{
            background-color: variables.$transparent-bg;
            @include transparency.opacity(1);
        }
    }
    > li:first-child a{
        padding-left: 0;
    }
    > li.active a{
       color: variables.$info-color;
    }
}
.nav-icons > li{
    display: inline-block;
     > a{
        padding: 0 10px;
        margin-bottom: 10px;
    }
    > a i{
        font-size: variables.$font-size-h4;
        margin-bottom: 10px;
        width: variables.$font-size-h4;
    }
}
.nav-icons.nav-stacked > li{
    display: block;
    > a {
        margin-bottom: 20px;
    }
}
.nav-blue > li.active a{
    color: variables.$primary-color;
}
.nav-azure > li.active a{
    color: variables.$info-color;
}
.nav-green > li.active a{
    color: variables.$success-color;
}
.nav-orange > li.active a{
    color: variables.$warning-color;
}
.nav-red > li.active a{
    color: variables.$danger-color;
}

.nav-text{
    margin: variables.$margin-bottom;

    > li > a{
        font-size: variables.$font-size-h6;
        text-transform: uppercase;
        padding: 3px 0;
        text-align: left;
        font-weight: variables.$font-weight-semi;

    }
    > li:first-child > a{
        padding-top: 0;
    }
    h4{
        margin-top: 0;
    }
}

.nav-text:not(.nav-stacked){
    > li{
        display: inline-block;
    }
    > li > a{
        margin-right: 15px;
    }
}

// Stefan making edits


.page-item:first-child .page-link,
.page-item:last-child .page-link{
    border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.nav-pills-default .nav-item.show .nav-link,
.nav-pills-default .nav-link.active{
    background-color: variables.$default-color !important;
}
.nav-pills-primary .nav-item.show .nav-link,
.nav-pills-primary .nav-link.active{
    background-color: variables.$primary-color !important;
}
.nav-pills-info .nav-item.show .nav-link,
.nav-pills-info .nav-link.active{
    background-color: variables.$info-color !important;
}
.nav-pills-warning .nav-item.show .nav-link,
.nav-pills-warning .nav-link.active{
    background-color: variables.$warning-color !important;
}
.nav-pills-success .nav-item.show .nav-link,
.nav-pills-success .nav-link.active{
    background-color: variables.$success-color !important;
}
.nav-pills-danger .nav-item.show .nav-link,
.nav-pills-danger .nav-link.active{
    background-color: variables.$danger-color !important;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active,
.pagination > li.active > a,
.pagination > li.active > span,
.pagination > li.active > a:hover,
.pagination > li.active > span:hover,
.pagination > li.active > a:focus,
.pagination > li.active > span:focus{
    background-color: variables.$danger-color;
    border-color: variables.$danger-color;
    color: variables.$white-color;
}

.page-item.active .page-link{
    background-color: variables.$danger-color;
    color: white;
    border-color: variables.$danger-color;
}
.nav-pills .nav-link{
    border-radius: 0;
}

.pagination {
  .page-link {
    box-shadow: none;
  }
}
