<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>GreenConnect</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<style>
			h2 {
				color: green;
			}

			#container {
				position: relative;
				padding: 20px;
				margin: 20px auto;
				max-width: 500px;
				border: 3px solid #f1f1f1;
				word-wrap: wrap;
			}

			.form-group {
				margin: 10px;
			}
		</style>

		<div id="container">
			<div class="text-center">
                <p>
                    <h2>Enter your email address</h2>
                </p>
                <form id="scopeSelection" action="/forgot-my-password/" method="POST">
                    <div class="mb-3">
                        <legend>You will receive an email with a password reset link.</legend>
                    </div>
					<div class="form-group row">
						<label htmlFor="email">Email address</label>
						<input
							class="form-control"
							type="email"
							name="email"
							id="email"
							placeholder="Enter Email Address"
							required
						/>
					</div>
					<input
						class="btn btn-success btn-lg btn-block mt-4"
						type="submit"
						value="Submit"
					/>
				</form>
			</div>
		</div>
	</body>
</html>
