<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>GreenConnect</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
	</head>
	<body>
<body>
    <div id="container">
        <div class="py-2 text-center">
			<h4>Welcome to GreenConnect API</h4>
			<div class="py-2 text-center mb-5">
				<p><a class="btn btn-warning btn-lg btn-primary" href="/utility/callback"> Go to My Utility Provider </a></p>
				<p><a class="btn btn-success btn-lg btn-primary" href="/logout"> Logout </a></p>
			</div>
			
        </div>
    </div>
</body>
</html>